<!DOCTYPE html>
<html lang="en" class="bg-gray-300 h-full w-full font-parkinsans p-0 m-0">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="bg-white w-full ">
        <div class="flex p-4 items-center w-full">
            <a href="/" class="font-bold text-4xl text-oceanBlue">SmartQuiz</a>
            <a href="/api/users/register" class="ml-auto mr-6 hover:text-oceanBlue"> Register</a>
            <a href="/api/users/login" class="mr-4 hover:text-oceanBlue">Login</a>
        </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>