<!DOCTYPE html>
<html lang="en" class="bg-gray-300 h-full w-full">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="bg-white w-full">
        <h1 class="font-bold text-3xl p-4">SmartQuiz</h1>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>