<!DOCTYPE html>
<html lang="en" class="bg-gray-200 h-full w-full font-parkinsans p-0 m-0">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="bg-white w-full flex">
        <div class="flex p-4 items-center w-full gap-8">
            <a href="/" class="font-bold text-5xl text-oceanBlue md:text-4xl">SmartQuiz</a>
            <a href="/create" class="hover:text-oceanBlue font-bold">Create a list</a>
            <a href="/" class="hover:text-oceanBlue font-bold mr-auto text-center">See all list</a>
            <a href="/register" class="ml-auto mr-2 hover:text-oceanBlue font-bold"> Register</a>
            <a href="/login" class="mr-4 hover:text-oceanBlue font-bold">Login</a>
        </div>
    </header>

    <main class="flex flex-col text-center">
        <h1 class="font-bold text-4xl mt-6">Ready to Study ? </h1>
    </main>

    <footer>

    </footer>
</body>
</html>